.right{float: right ;}
.left{float: left;}
.order{padding-top:10px ;}

.icon {
    float: right;
    color: white;
    right: 10px;
}
.fabcon {
    background-color: red;
}
.background-gray {
    background-color: rgb(241, 239, 239);
}
.gray {
    background: gray
}
.content {
    background-color: black;
    // background-image: url("../../assets/imgs/satay-chicken-3604856_1920.jpg");
}
.bg-darkgray{
    background-color:rgb(19, 19, 19); 
}
.text-white{
 color: white;
}