<ion-header>
    <ion-navbar color="danger">
        <ion-title text-center>
            Food deli
        </ion-title>
        <ion-buttons end>
            <button ion-button clear *ngIf="authService.login_status==true" class="icon" (click)="goCartPage()"><ion-icon name="cart"></ion-icon> </button>
            <button ion-button *ngIf="authService.login_status==false" (click)="goLoginPage()"><ion-icon name="log-in" style="font-size:30px"></ion-icon></button>

        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content class="content">
        <button ion-button outline block color="danger" (click)="goorderlistPage()">OrderPage</button>

    <div class="bg-image"></div>
    <div class="order-btn">
        <button *ngIf="authService.login_status==true" ion-button outline block color="danger" (click)="goorderlistPage()">OrderPage</button>
    </div>
    <!-- 
    <ion-item *ngFor="let d of data" (click)="goMenuPage(d.shop_id)">
        <ion-thumbnail item-start>
            <img src="{{d.picture}}">
        </ion-thumbnail>
        <h2>ร้าน{{d.name}}</h2>
        รหัสร้าน {{d.shop_id}}
    </ion-item> -->


    <div *ngFor="let d of data" (click)="goMenuPage(d.shop_id,d.name)">
        <div class="shop-name">
            <h2>ร้าน{{d.name}}</h2>
            <p class="about-shop">ฝากท้องได้ทุกเย็นที่ร้าน “นายดำ” ร้านบะหมี่เกี๊ยวที่เปิดมาแล้วกว่า 32 ปี ทั้งบะหมี่เกี๊ยวและข้าวหมูแดงหมูกรอบ พร้อมเมนูใหม่ก๋วยเตี๋ยวเรือ!</p>
        </div>
        <div class="shop-img">

            <img src="{{d.picture}}">
        </div>

    </div>

    <ion-fab right bottom *ngIf="authService.login_status==true" (click)="goaddshopPage()">
        <button ion-fab class="fabcon">
      <ion-icon name="add" style="font-size:40px "></ion-icon>
    </button>
    </ion-fab>



</ion-content>