page-home {
    ion-input {
        color: gray;
    }
    ion-navbar {
        color: #f53d3d;
    }

    .shop-img {
        text-align: center;
        border-radius: 10px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    img {
        border-radius: 5px;
        filter: blur(0.5px);
    }
    .shop-name {
        color: white;
        font-size: 16px;
        margin-left: 5%;
    }
    .about-shop {
        padding: 2px;
        padding-right: 15px;
        position: center;
    }
    .order-btn {
        margin: 20px;
    }
    ion-buttons {
        margin-right: 10px;
    }
}