ion-input{color: gray;}
ion-navbar{color:#f53d3d; }
.icon{float : right;color:white;right: -10px;}
.fabcon{background-color:red;}
.background-gray{background-color:rgb(241, 239, 239);}
.gray{background: gray}