page-home {
    ion-input {
        color: gray;
    }
    ion-navbar {
        color: #f53d3d;
    }
    .icon {
        float: right;
        color: white;
        right: -10px;
    }
    .fabcon {
        background-color: red;
    }
    .background-gray {
        background-color: rgb(241, 239, 239);
    }
    .gray {
        background: gray
    }
    .content {
        background-color: black;
        // background-image: url("../../assets/imgs/satay-chicken-3604856_1920.jpg");
    }
    .shop-img {
        text-align: center;
        border-radius: 10px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    img {
        border-radius: 5px;
        filter: blur(0.5px);
    }
    .shop-name {
        color: white;
        font-size: 16px;
        margin-left: 5%;
    }
    .about-shop {
        padding: 2px;
        padding-right: 15px;
        position: center;
    }
    .order-btn {
        margin: 20px;
    }
    ion-buttons {
        margin-right: 10px;
    }
}